@import url(https://fonts.googleapis.com/css?family=Ek+Mukta:400,200,500,700|Aubrey);
.mukta {
  font-family: 'Ek Mukta', sans-serif; }

.aubrey {
  font-family: 'Aubrey', cursive; }

h1 {
  text-align: center; }
